/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@trimblemaps/trimblemaps-js/trimblemaps.css";

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute !important;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
